// fonts
$font-main: "Libre Franklin", sans-serif;
$font-decorative: "WindSong", cursive;
$font-date: "Mrs Saint Delafield", cursive;
// colors
$color-main: #FFFFFF;
// other
$anim-time: 300ms;
$breakpoint-md: 1200px;
$breakpoint-sm: 767px;
$breakpoint-xs: 390px;