.dress {
    padding-bottom: 5rem;
    padding-top: 3.5rem;
}

.dress__title {
    font-family: $font-decorative;
    text-align: center;
    font-size: 6rem;
    font-weight: 400;
    margin-left: -2rem;
    margin-bottom: 4.5rem;
}

.dress__list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

.dress__item {
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:nth-child(1) {
        background-image: url(../img/code1.jpg);
    }

    &:nth-child(2) {
        background-image: url(../img/code2.jpg);
    }

    &:nth-child(3) {
        background-color: #FFF;
    }
}