.taks {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.taks__title {
    font-family: $font-decorative;
    text-align: center;
    font-size: 6rem;
    font-weight: 400;
    margin-left: -2rem;
    margin-bottom: 3rem;
}

.task__desc {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}